* {
  text-decoration: none;
  border-image: none;
  box-shadow: none;
  outline: none;
  list-style: none;
  &:active, &:focus {
    outline: none;
  }
}
body, html {
  margin: 0;
  padding: 0;
  
} 

.fixed-action-btn.direction-left ul li, .fixed-action-btn.direction-right ul li {
  overflow: visible;
}

 .material-tooltip {
  margin-bottom: 50px !important;
}